
hi{
    margin-right: 20px;
  }
  
  .container {
    border: 1px solid black;
    box-shadow: 0px 0px 10px;
    padding: 15px;
    margin: 20px;
    height: 480px;
  }
  
  .container-calculadora-peso, .container-calculadora-altura{
    margin-bottom: 16px;
    width: 100%;
   
  }
  
  .peso-slide, .altura-slider{
    width: 100%;
    height: 1px;
    outline:none;  
  }
  
  .input-number{
    height: 30px;
    width: 60px;
    margin-left: 20px;
    font-size: 24px;
  }
  
  .botao-calcular{
    font-size: 18px;
    width: 100%;
    background-color: #1b2845;
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    
    }
